.promo {
    color: #f34235;
    text-align: center;
}

.col {
    margin-bottom: 33px;
}

.text {
    font-size: 14px;
    color: #bcbcbc;
    text-align: center;
}

.center {
    text-align: center;
}

.card {
    width: 300px !important;
}